.dj-header {
  position: absolute;
  width: 1440px;
  height: 162px;
  left: 0;
  top: -1px;
  border-radius: 0 0 0 55px;
  background-color: #5964e0;
}

.dj-logo {
  width: 115px;
  height: 32px;
  position: absolute;
  top: 44px;
  left: 165px;
  font-size: 2rem;
  color: #ffffff;
}
